[submodule "pack/vim-clojure-static"]
	path = pack/vim-clojure-static
	url = https://github.com/guns/vim-clojure-static.git
[submodule "pack/night-owl"]
	path = pack/night-owl
	url = https://github.com/haishanh/night-owl.vim.git
[submodule "pack/vim-fireplace"]
	path = pack/vim-fireplace
	url = https://github.com/tpope/vim-fireplace.git
[submodule "pack/paredit"]
	path = pack/paredit
	url = https://github.com/vim-scripts/paredit.vim.git
[submodule "pack/nerdtree"]
	path = pack/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "pack/vim-nerdtree-tabs"]
	path = pack/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "pack/ctrlp.vim"]
	path = pack/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "pack/vim-javascript"]
	path = pack/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "pack/vim-javascript"]
	path = pack/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
